doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  head
    +css("/assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("/assets/lib/@loadingio/transition.css/main/transition.min.css")
    +css("/assets/lib/ldtab/dev/index.min.css")
    +css("/css/index.css")
  body
    mixin secondary
      .d-flex.mb-4(ldtab-group="secondary",type="tab")
        .px-4.py-2(ldtab="alt1",default) alt-1
        .px-4.py-2(ldtab="alt2") alt-2
        .px-4.py-2(ldtab="alt3") alt-3
        .px-4.py-2(ldtab="alt4") alt-4
    .w-1024.mx-auto.rwd.my-4
      .d-flex
        .flex-grow-1
          .d-flex.mb-4(ldtab-group="main",type="tab")
            .px-4.py-2(ldtab="tab1",default) tab1
            .px-4.py-2(ldtab="tab2") tab2
            .px-4.py-2(ldtab="tab3") tab3
            .px-4.py-2(ldtab="tab4") tab4
          .d-flex.mb-4(ldtab-group="main", type="panel")
            .p-4(ldtab="tab1",default) panel1
            .p-4(ldtab="tab2") panel2
            .p-4(ldtab="tab3")
              .mx-2.mb-4 panel3
              +secondary
            .p-4(ldtab="tab4") panel4
          .d-flex(ldtab-group="secondary", type="panel")
            .p-4(ldtab="alt1",default) panel1
            .p-4(ldtab="alt2")
              .mx-2.mb-4 panel2
              .d-flex.mb-4(ldtab-group="main",type="tab")
                .px-4.py-2(ldtab="tab1") tab1
                .px-4.py-2(ldtab="tab2") tab2
            .p-4(ldtab="alt3") panel3
            .p-4(ldtab="alt4") panel4
        .flex-grow-1
          +secondary
    +script("/assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("/assets/lib/@loadingio/debounce.js/main/index.min.js")
    +script("/assets/lib/ldtab/dev/index.min.js")
    script(type="module"): :lsc
      fd = new ldtab do
        root: document.body
        panel: delay: 0, deactivate: ({node}) -> node.classList.remove \active

